# Default ignored files
/shelf/
/PreCourse-1.iml
/.idea/
/Exercise_1.cpp
/Exercise_1.py
/Exercise_2.cpp
/Exercise_2.py
/Exercise_3.cpp
/Exercise_3.py
/Exercise_4.cpp
/Exercise_4.py
/Exercise_4.cpp
/Exercise_5.py
/out/
